
.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
.search-input input {
    width: 40%;
}
  .search-input input {
    width: 100%;
    background-color: #f24256;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.25rem;
  }
  .search-input input::placeholder {
    color: white;
    opacity: .5;
  }
  .search-results-container {
    margin-left: 45px;
  }
  .movie-item {
    width: 250px;
    height: 350px;
    border: 1px solid black;
    float: left;    
    margin: 130px 20px;
  }
  .movie-overview {
    float: left;
    margin-right: 5px;
  }
  .poster-path {
    margin-left: 5px;
    width: 200px;
    height: 300px;
    border: 5px solid black;
  }