<div class="container">
    <div class="content-container">
        <div class="logo">
            <nav class="logo-name" (click)="movieLibrary()">Movie<span>Library</span></nav>
        </div>
        <div class="links">
            <nav id="movie-library" (click)="movieLibrary()">Movie Library</nav>
            <nav id="favorites" (click)="favorites()">Favorites</nav>
            <nav id="search" (click)="search()">Search</nav>
            <div id="logincontainer">
                <div id="display-container" *ngIf="displayName(); else showLogin">
                    <nav id="display-name" (click)="logout()">{{ displayName() }}</nav>
                </div>
                <ng-template #showLogin>
                    <nav id="login" (click)="login()">Login</nav>
                </ng-template>
            </div>
        </div>
    </div>