<div class="watchlist-header">
    <div class="watched-container">
      <nav id="movie-library" (click)="movieLibrary()">Watched</nav>       
    </div>
    <div class="want-container">
      <nav id="wantWatch">Want to Watch</nav>
    </div>
  </div>
  <div class="movie-page">
    <div class="container">
      <div class="header">
        <h1 class="heading">My Want to Watch</h1>
      </div>
        <div class="movie-grid">
        </div>
        <h2 class="no-movies">Add movies to your want to watch<br/> <p>Search for movies using the Search Movies button</p></h2>
    </div>
  </div>