<div class="details-page" *ngIf="detailsPage">
  <div *ngIf class="details-title">
    <img class="poster-path" mat-card-image src='https://image.tmdb.org/t/p/w200{{detailsPage.poster_path}}'>
              <h1>{{detailsPage.title}}</h1>

  </div>
            <div class="details-overview">
              <p>
                {{detailsPage.overview}}
              </p>

            </div>
            <p>
              {{detailsPage.release_date}}
              <br>
              {{detailsPage.vote_average}}
            </p>
            <p>
              {{detailsPage.imdb_id}}
            </p>
            <pre>{{detailsPage | json}}</pre>
            <button>
              <a href='{{"https://www.themoviedb.org/movie/" + detailsPage.id}}' target="_blank">More Information</a>
            </button>

</div>