<div class="details-page" *ngIf="detailsPage">
  <div *ngIf class="details-title">
    
  </div>
  <div class="details-overview">
    <h1 class="title-text">{{detailsPage.title}}</h1>
    <img class="poster-path" mat-card-image src='{{"https://image.tmdb.org/t/p/w200" + detailsPage.poster_path}}'>
    <div class="overview-container">
      <div class="date-container">
        <p class="release-date">
          {{detailsPage.release_date}}
          <br>
        </p>
      </div>
      <p class="vote-average">
        {{detailsPage.vote_average}}
        <br>
        <br>
      </p>
      <app-star-rating [selectedRating]="ratingValue" class="rating" (ratingChanged)="rate($event)"></app-star-rating>
      <br>
        <p class="tooltip">
          <button mat-button style=
          "background-color: transparent; color:black;" class="tooltiptext" title="Add to Favorites" (click)="addToFavorites(detailsPage)">
          &#x2665;	
        </button>
        <button mat-button style='color: black;' title="Add To Watchlist" (click)="addToWatchlist(detailsPage)">&#x2714;
        </button>
          <br>
          <br>
        </p>
        <div class="description">
          <p> 
            Overview: <br>
              {{detailsPage.overview}}
            </p>

        </div>
              </div>
              
            </div>
            
            <div class="overview-button">
              <button class="imdb-button">
                <a href='{{"https://www.themoviedb.org/movie/" + detailsPage.id}}' style="text-decoration: none;" target="_blank">More Information</a>
              </button>
            </div>
          </div>
          <div id="comment-container">
    <h3>Comments</h3>
    <div id="new-comment-box">
      <p>Leave a comment:</p>
      <input type="text" [(ngModel)]="workingComment" (keypress)="updateText($event)" />
      <button *ngIf="workingComment" (click)="comment()">Comment</button>
    </div>
    <div id="comments" *ngIf="comments">
      <div class="comment" *ngFor="let comment of (comments | async | sortComments)">
        <p class="message">{{comment.message}}</p>
        <p class="date">{{formatDate(comment.added)}}</p>
      </div>
    </div>
  </div>